@import url("https://fonts.googleapis.com/css2?family=Syne+Tactile&display=swap");

.container {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

/* Menu Bars Styling */
.menuBars {
	position: fixed;
	top: 1rem;
	right: 2rem;
	z-index: 10;
	display: inline;
	cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
	width: 35px;
	height: 2px;
	background-color: #fff;
	margin: 8px 0;
	transition: 0.4s;
}

.change .bar1 {
	transform: rotate(-45deg) translate(-7px, 8px);
}

.change .bar2 {
	opacity: 0;
}

.change .bar3 {
	transform: rotate(45deg) translate(-6px, -8px);
}

/* Styling for sections */
.paragraph {
	color: white;
	font-family: "Syne Tactile", cursive;
	text-transform: uppercase;
	font-size: 30px;
	animation: complete 2.3s infinite;
	cursor: pointer;
}

@keyframes complete {
	0% {
		color: rgb(207, 21, 21);
	}
	25% {
		color: rgb(207, 204, 21);
	}
	50% {
		color: rgb(58, 207, 21);
	}
	75% {
		color: rgb(21, 49, 207);
	}
	100% {
		color: rgb(154, 21, 207);
	}
}

.paragraph:hover {
	filter: brightness(70%);
}
.sectionOneContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 100vw;
	height: 100vh;
	background-color: #000;
}
.sectionTwoContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 100vw;
	height: 100vh;
	background-color: #cf5c36;
}
.sectionThreeContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 100vw;
	height: 100vh;
	background-color: #7c7c7c;
}
