/* :root {
	--primaryColor: #fff;
	--navColor1: #21292c;
	--navColor2: #aa3e39;
	--navColor3: #aa6e39;
	--navColor4: #236267;
	--navColor5: #2c8437;
} */

/* Ovelay Styling */
.overlay {
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.7);
	transform: translateX(-100vw);
}
.overlaySlideRight {
	transition: all 0.4s ease-in-out;
	transform: translateX(0);
}
.overlaySlideLeft {
	transition: all 0.8s ease-in-out;
	transform: translateX(-100vw);
}

/* Slide in animation with delay for each nav item */
.slideIn1 {
	animation: slide-in 0.4s linear 0.2s both;
}
.slideIn2 {
	animation: slide-in 0.4s linear 0.4s both;
}
.slideIn3 {
	animation: slide-in 0.4s linear 0.6s both;
}
.slideIn4 {
	animation: slide-in 0.4s linear 0.8s both;
}
.slideIn5 {
	animation: slide-in 0.4s linear 1s both;
}

@keyframes slide-in {
	from {
		transform: translateX(-100%);
	}
	to {
		transform: translateX(0);
	}
}

/* Slide out animation with delay for each nav item */
.slideOut1 {
	animation: slide-out 0.3s linear 0.5s both;
}
.slideOut2 {
	animation: slide-out 0.3s linear 0.4s both;
}
.slideOut3 {
	animation: slide-out 0.3s linear 0.3s both;
}
.slideOut4 {
	animation: slide-out 0.3s linear 0.2s both;
}
.slideOut5 {
	animation: slide-out 0.3s linear 0.1s both;
}

@keyframes slide-out {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(-100%);
	}
}
